<div class="password-create-container">
  <h2>Add New Password</h2>

  <form [formGroup]="form" (ngSubmit)="save()" class="password-create-form">

    <div>
      <label>Website</label>
      <input type="text" formControlName="siteName" />
    </div>

    <div>
      <label>Username</label>
      <input type="text" formControlName="username" />
    </div>

    <div>
      <label>Password</label>
      <input type="password" formControlName="password" />
    </div>

    <button type="submit" [disabled]="loading || form.invalid">
      {{ loading ? 'Encrypting...' : 'Save Password' }}
    </button>

  </form>

  <div *ngIf="successMessage" class="password-create-success">
    {{ successMessage }}
  </div>

  <div *ngIf="errorMessage" class="password-create-error">
    {{ errorMessage }}
  </div>
</div>