<div *ngIf="isAdmin" class="admin-container">
  <button class="btn primary" (click)="openModal()">
    Create CA User
  </button>
</div>

<div class="admin-modal" *ngIf="showModal">
  <div class="admin-modal-content">
    <h3>Create CA User</h3>

    <form [formGroup]="form" class="admin-form">
      <input formControlName="name" placeholder="First name">
      <input formControlName="surname" placeholder="Last name">
      <input formControlName="email" placeholder="Email">
      <input formControlName="organization" placeholder="Organization">
    </form>

    <button  class="btn-primary"  (click)="create()">Create</button>
    <button class="btn-secondary" (click)="closeModal()">Cancel</button>
  </div>
</div>

<p class="admin-message">{{message}}</p>