<div class="share-password-container">

  <h2>Share Password</h2>

  <div class="share-password-form">

    <select [(ngModel)]="passwordEntry" class="share-password-select">
      <option *ngFor="let entry of entries" [ngValue]="entry">
        {{ entry.entry.siteName }}
      </option>
    </select>

    <select [(ngModel)]="targetUserId" class="share-password-select">
      <option *ngFor="let user of userList" [ngValue]="user.id">{{ user.email }}</option>
    </select>

    <button class="share-password-button" (click)="sharePassword()">Share</button>
      
  </div>

</div>