<h2>My Passwords</h2>

<app-private-key-upload
  (keyLoaded)="onKeyLoaded($event)">
</app-private-key-upload>

<div *ngIf="passwords.length === 0">
  No passwords saved.
</div>

<div *ngFor="let p of passwords" class="card">

  <h3>{{ p.siteName }}</h3>
  <p><b>Username:</b> {{ p.username }}</p>

  <p *ngIf="p.decryptedPassword">
    <b>Password:</b> {{ p.decryptedPassword }}
  </p>

  <button (click)="decrypt(p)">
    Decrypt
  </button>

</div>

<app-password-share [privateKeyPem] = "privateKeyPem"></app-password-share>